.post-new-php{
	#edit-slug-box{
		display: none;
	}
}

.tie-message-hint{
	background-color: #FFF8DC;
	border: 0 solid #ffeb8e;
	border-left-width: 5px;
	margin: 0 !important;
	padding: 10px 20px;
	line-height: 1.9;

	.widget-content &{
		margin: 15px 0 !important;
	}
}

.tie-message-hint.tie-message-error{
	background-color: #FFF8F8;
	border-color: #FFA0A0;
	color: #FF3636;
}

.tie-builder-content-area .tie-message-hint{
	margin-top: 15px !important;
}

#tie-import-data-notes{
	max-width: 800px;
	margin: 0 auto;
}

.clear {
	clear: both;
}


/* ---------------------------------------------
 Switch button
------------------------------------------------ */
.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	position: relative;
	vertical-align: middle;
	width: 50px;
	box-sizing: content-box;
	user-select: none;
}

.switchery > small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 25px;
	position: absolute;
	top: 0;
	width: 25px;
}
