#subtitlediv {
	#tie-sub-title {
		padding: 3px 8px;
		font-size: 1.7em;
		line-height: 100%;
		height: 1.7em;
		width: 100%;
		outline: 0;
		margin: 20px 0 3px;
		background-color: #fff;
	}
}

#tie_upload_image {
	padding-right: 55px;
	padding-left: 55px;
	display: block !important;
	float: none;
	margin: 15px auto 0;
}

#tie-gallery-items {
	li {
		position: relative;
		width: 18.4%;
		float: left;
		margin-right: 2%;

		&:nth-child(5n+5) {
			margin: 0;
		}

		&:nth-child(5n+6) {
			clear: left;
		}
	}

	.gallery-img {
		position: relative;
		display: inline-block;
		float: none;

		img {
			margin: 0;
			width: 100%;
			height: auto;
		}
	}
}

.tie-page-templates-options,
#tie_do_not_dublicate_option,
#tie_header_extend_bg_option{
	margin-bottom: 10px;
	display: none;
}

.tie_post_head-options,
.tie_post_layout-options,
.post_layout-options{
	display: none;
}

.column-tie_post_views{
	width: 5.5em;
}
