body[class*="tie-install-plugins"],
body[class*="tie-theme-welcome"],
body[class*="tie-system-status"],
body[class*="tie-one-click-demo-import"]{

	#theme_not_authorized{
		max-width: 100%;

		h3{
			display: none;
		}
	}

	#screen-meta-links{
		display: none;
	}
}

body[class*="tie-install-plugins"]{
	.column-source,
	.plugin-update.colspanchange,
	.actions.bulkactions + p strong small{
		display: none;
	}

	.plugin-required{
		padding: 2px 5px;
	  text-transform: uppercase;
	  font-size: 80%;
	  background: #ff574a;
	  border-radius: 3px;
	  color: #fff;
	}
}

.tie-about-wrap{
	max-width: 1250px;
}

body[class*="tie-theme-welcome"]{
	.under-the-hood{
		margin-bottom: 1.33em;
		padding: 2px;
	}

	.col{
		background: #ffffff;
		padding: 1.33em;
		box-sizing: border-box;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		margin-bottom: 3px;

		h3{
			font-size: 1.2em;
		}

		p{
			font-size: 16px;
		}

		*:first-child{
			margin-top: 0;
		}

		*:last-child{
			margin-bottom: 0;
		}
	}
}


/* ---------------------------------------------
 Head Section
------------------------------------------------ */
.wrap h2.tie-nav-tab-wrapper{
	margin-bottom: 40px;
}

.tie-badge {
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 0;
	padding: 20px 0;
	display: inline-block;
	width: 140px;
	position: absolute;
	top: 0;
	right: 0;
	text-rendering: optimizeLegibility;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);

	img{
		width: 90px;
	  display: block;
	  margin: 0 auto 10px;
	  border: none;
	}
}


/* ---------------------------------------------
 System Status
------------------------------------------------ */
table.tie-status-table {
	margin-bottom: 30px;

	tr {
		&:nth-child( 2n ) {
			th,
			td {
				background: #fcfcfc;
			}
		}
	}

	th {
		font-weight: 700;
		padding: 9px;
	}

	td:first-child {
		width: 33%;
	}


	td {
		padding: 9px;

		mark {
			background: transparent none;
		}

		mark.yes {
			color: $success_color;
		}

		mark.no {
			color: #999;
		}

		mark.error {
			color: $danger_color;
		}

		ul {
			margin: 0;
		}
	}
}


#tie-debug-report {
	display: none;
	margin: 10px 0;
	padding: 0;
	position: relative;

	textarea {
		font-family: monospace;
		width: 100%;
		margin: 0;
		height: 300px;
		padding: 20px;
		resize: none;
		font-size: 12px;
		line-height: 20px;
		outline: 0;
	}
}


#follow-tielabs{
	line-height: 0.9;

	li{
		display: inline-block;
		padding: 0 2px;

	}
}
