/* Breaking News---------------------------------------------------------------*/

.breaking {
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: $base-border;
	border-width: 0 1px 0 0;
}

.breaking-title {
	padding: 0 10px;
	display: block;
	float: left;
	color: #ffffff;
	font-size: 12px;
	position: relative;

	span{
		position: relative;
		z-index: 1;
	}

	span.fa {
		display: none;
	}

	@include breakpoint_max(600px){
		span.fa {
			display: inline-block;
		}

		.breaking-title-text {
			display: none;
		}
	}

	&:before{
		content: "";
		background: #f05555;
		width: 100%;
		height: calc(100% + 1px);
		position: absolute;
		left: 0;
		top: -1px;
		z-index: 0;

		.top-nav-above &{
			top: 0;
		}
	}

	&:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: -6px;
		left: 0;
		border-left: 0;
		border-right: 9px solid transparent;
		border-top: 9px solid #f05555;
	}
}

.breaking-news{
	display: none;
}

.ticker-wrapper.has-js {
	margin: 0;
	padding: 0px;
	height: 35px;
	display: block;
	overflow: hidden;
	position: relative;
	padding-right: 20px;

	@include breakpoint(xs){
		.controls-is-active &{
			padding-right: 70px;
		}
	}
}

.ticker {
	width: 100%;
	height: 35px;
	display: block;
	position: relative;
	overflow: hidden;
}

.ticker-content {
	display: none;
	left: 10px;
	line-height: 35px;
	position: absolute;
	background-color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; // IE fix
	text-overflow: ellipsis;
	max-width: calc(100% - 10px);
	width: auto;

	.top-nav-dark &{
		background-color: $top-nav-dark-bg;
	}

	&:focus {
		outline: none;
	}

	&.is-paused{
		transform: none !important;
	}
}

.ticker-swipe {
	position: absolute;
	top: 0px;
	left: 10px;
	display: block;
	width: calc(100% - 10px);
	height: 35px;

	span {
		margin-left: 1px;
		height: 35px;
		width: 7px;
		display: block;

		&:after{
			content: "_";
		}
	}
}

.ticker-content,
.ticker-swipe{
	background-color: #ffffff;
}

.top-nav-dark,
.box-dark-skin{
	.ticker-content,
	.ticker-swipe{
		background-color: $top-nav-dark-bg;
	}
}

.breaking-news-nav{
	position: absolute;
	right: 0;
	padding-right: 8px;
	float: left;
	list-style-type: none;
	float: left;
	height: 35px;

	@include breakpoint(max_min_xs){
		display: none;
	}

	li {
		padding: 0px;
	  margin: 6px 0 6px 7px;
	  float: left;
	  cursor: pointer;
	  height: 23px;
	  width: 23px;
	  display: block;
	  line-height: 21px;
	  text-align: center;
	  border-radius: $base-border-radius;
	  border: $base-border;
	  transition: 0.3s;

	  .box-dark-skin &,
	  .top-nav-dark &{
	  	border-color: $base-border-color-in-white;
	  }

		&:after{
			height: 21px;
	  	width: 21px;
	  	line-height: 21px;
	  	opacity: 0.8;
	  	display: inline-block;
			content: "\f04c";
			font-family: "Fontawesome";
		}

		&:hover{
			background-color: $brand-color;
			border-color: $brand-color;
			color: color-contrast($brand-color);

			&:after{
				opacity: 1;
			}
		}

		&.jnt-prev {
			&:after{
				content: "\f104";
			}
		}

		&.jnt-next {
			&:after{
				content: "\f105";
			}
		}

		.up-down-controls &:after{
			transform: rotate(90deg);
		}
	}
}

.ticker-dir-left .ticker-content,
.ticker-dir-left .ticker {
    float: left;
}

.ticker-dir-right .ticker-content,
.ticker-dir-right .ticker {
    float: right;
}


.mag-box,
.top-nav-dark{
	.breaking-title:before{
		height: 100%;
		top: 0;
	}
}

.mag-box{
	&.breaking-news-outer{
		height: 35px;
	}

	.breaking-title:before{
		border-top-left-radius: $base-border-radius;
	}

	.breaking{
		border-width: 0;
		border-radius: $base-border-radius;
		background-color: #ffffff;
	}

	.breaking-news-nav{
		padding-right: 6px;
	}

	body.dark-skin &.breaking-news-outer:not(.dark-skin) a:not(:hover){
		color: $base-color;
	}

	&.dark-skin{
		.breaking,
		.ticker-content,
		.ticker-swipe{
			background-color: $dark-bg;
		}
	}

	// (white breaking on white theme skin || dark breaking on dark-skin) && section has no background
	body:not(.dark-skin) .section-item:not(.has-background) &:not(.dark-skin),
	body.dark-skin .section-item:not(.has-background) &.dark-skin{
		.breaking-title:before{
			top: -1px;
		}

		.breaking{
			border: solid $base-border-color;
			border-width: 1px 1px 1px 0;
		}

		.ticker,
		.ticker-content,
		.ticker-swipe{
			line-height: 33px;
			height: 33px;
		}


		.breaking-news-nav li{
			margin: 5px 0 5px 5px;
		}
	}

	body.dark-skin .section-item:not(.has-background) &.dark-skin{
		.breaking{
			border-color: $base-border-color-in-white;
		}
	}
}
