/***************************************
	Jannah RTL
***************************************/
@import "../utils/variables";
@import "../utils/mixins";

/**
 * RTL Bootstrap grid system
 * ------------------------------------
 */
.tie-col-xs-1,
.tie-col-xs-10,
.tie-col-xs-11,
.tie-col-xs-12,
.tie-col-xs-2,
.tie-col-xs-3,
.tie-col-xs-4,
.tie-col-xs-5,
.tie-col-xs-6,
.tie-col-xs-7,
.tie-col-xs-8,
.tie-col-xs-9 {
	float: right
}

@include breakpoint(sm){
	.tie-col-sm-1,
	.tie-col-sm-10,
	.tie-col-sm-11,
	.tie-col-sm-12,
	.tie-col-sm-2,
	.tie-col-sm-3,
	.tie-col-sm-4,
	.tie-col-sm-5,
	.tie-col-sm-6,
	.tie-col-sm-7,
	.tie-col-sm-8,
	.tie-col-sm-9 {
		float: right
	}
}

@include breakpoint(md){
	.tie-col-md-1,
	.tie-col-md-10,
	.tie-col-md-11,
	.tie-col-md-12,
	.tie-col-md-2,
	.tie-col-md-3,
	.tie-col-md-4,
	.tie-col-md-5,
	.tie-col-md-6,
	.tie-col-md-7,
	.tie-col-md-8,
	.tie-col-md-9 {
		float: right
	}
}

@include breakpoint(lg){
	.tie-col-lg-1,
	.tie-col-lg-10,
	.tie-col-lg-11,
	.tie-col-lg-12,
	.tie-col-lg-2,
	.tie-col-lg-3,
	.tie-col-lg-4,
	.tie-col-lg-5,
	.tie-col-lg-6,
	.tie-col-lg-7,
	.tie-col-lg-8,
	.tie-col-lg-9 {
		float: right
	}
}

.pull-right {
	float: right!important
}

.pull-left {
	float: left!important
}

.tie-alignleft {
	float: right
}

.tie-alignright {
	float: left
}

html{
	direction: rtl;
}

/**
 * Headers
 * ------------------------------------
 */
#logo,
.header-layout-1 #logo{
	float: right;
}

.header-layout-1 .main-menu{
	float: left;
}

@include breakpoint(md){
	.main-menu,
	.top-menu,
	.main-menu ul li,
	.top-menu ul li{
		float: right;
	}

	.main-menu ul ul ul,
	.top-menu ul ul ul{
		right: 100%;
		left: auto;
	}

	#theme-header {
		ul.components{
			float: left;

			> li{
				float: left;
			}
		}

		&.main-nav-light{
			.menu li.menu-item-has-children,
			.main-menu .mega-menu {
				.menu-item-has-children > a:before {
					border-right-color: $base-color;
					border-left-color: transparent!important;
				}
			}
		}
	}

	.header-layout-1 .main-menu-wrap:only-child .menu>li:only-child{
		> .menu-sub-content {
	    left: 0;
	    right: auto;

	    ul{
		    right: auto;
		    left: 100%;
			}
	  }
	}

	// mega menu
	.main-menu .mega-cat .mega-cat-more-links > li{
		float: right;

		> a{
			border-width: 1px 0 0 1px;
		}

		&:nth-child(4n + 4) > a{
			border-left-width: 0;
		}
	}

	.main-menu {
		.menu .mega-cat-sub-categories{
			float: right;

			&.cats-horizontal li{
				margin-right: 0;
				margin-left: 10px;
			}
		}

		.mega-cat .mega-menu-post{
			float: right;
		}

		ul .mega-recent-featured-list{
			float: right;
			padding-right: 0;
			padding-left: 30px;

			&:after{
				left: 0;
				right: auto;
			}
		}

		.mega-menu.mega-recent-featured {
			.mega-recent-post {
			    float: right;
			    padding-left: 30px;
			    padding-right: 0;
			}

			&.menu-item-has-children .mega-recent-post{
				padding-right: 30px;
			}
		}

		.mega-check-also .post-thumbnail {
		    margin-left: 20px;
		    margin-right: 0;
		    float: right;
		}

		.mega-check-also .post-details{
		    padding-left: 0;
		    padding-right: 130px;
		}

		.main-menu .mega-check-also li:nth-child(2n + 1){
			clear: right;
		}

		li.mega-link-column{
			float: right;
		}

		ul li .mega-links-head:after{
			right: 0;
			left: auto;
		}
	}

	// Menus Arrows
	#theme-header{
		.menu li.menu-item-has-children,
		.main-menu .mega-menu{
			> a:before{
				left: 12px;
				right: auto;
			}

			.menu-item-has-children > a:before{
				border-right-color: #ffffff;
				border-left-color: transparent;
			}
		}

		.top-menu .menu{
			li.menu-item-has-children {
				li.menu-item-has-children {
					> a:before{
						border-left-color: transparent;
						border-right-color: $base-color;
					}

					&:hover{
						> a:before{
							border-left-color: transparent;
							border-right-color: $brand-color;
						}
					}
				}
			}
		}

		.menu > li.menu-item-has-children:not(.is-icon-only) > a,
		.main-menu li.mega-menu:not(.is-icon-only) > a{
			padding-left: 25px;
			padding-right: 14px;
		}
	}

	// Components
	ul.components {
		#search-input {
	    padding: 0 13px 0 35px;
		}

		button#search-submit{
			left: 0;
			right: auto;
		}
	}

	.menu-counter-bubble-outer,
	.notifications-total-outer{
		right: auto;
		left: 3px;
	}

	.comp-sub-menu{
		left: 0;
		right: auto;

		.product-thumb {
	    float: right;
	    margin-left: 15px;
	    margin-right: 0;
		}

		.product-title{
			padding-left: 30px;
			padding-right: 0;
		}

		&.bp-notifications-menu{
			li{
				a{
					padding: 12px 35px 12px 10px;

					span{
						margin-right: -22px;
	    			margin-left: 5px;
					}
				}
			}
		}
	}

	// boxed main nav
	#theme-header.main-nav-boxed.main-nav-light #main-nav ul.components > li:first-child {
	    border-left-width: 0;
	    border-right-width: 1px;
	}

	// Top Nav
	#top-nav .components > li:first-child:not(.search-bar){
		border-width: 0 1px 0 0;
	}

	#top-nav .tie-alignright .components > li:first-child:not(.search-bar),
	.top-nav-boxed #top-nav.has-date .tie-alignright,
	.top-nav-boxed #top-nav.has-date-components .tie-alignright,
	.top-nav-boxed #top-nav.has-date-menu .tie-alignright{
		border-width: 0 0 0 1px;
	}

	#top-nav .tie-alignleft ul.components{
		&,
		> li{
		    float: right;
		}
	}

	.tie-alignright .top-menu {
	    float: left;
	}

	#top-nav .tie-alignleft .comp-sub-menu {
	    left: auto;
	    right: -1px;
	}

	.top-nav-boxed {
		.has-menu .tie-alignright .top-menu,
		.has-components .tie-alignright .search-bar{
			border-right-width: 1px;
			border-left-width: 0;
		}

		.has-menu .tie-alignleft .top-menu,
		.has-components .tie-alignleft .search-bar{
			border-left-width: 1px;
			border-right-width: 0;
		}

		.has-date-components{
			.tie-alignright{
				.components > li:first-child:not(.search-bar){
					border-width: 0 0 0 1px;
				}
			}
		}

		.has-components-menu{
			.components > li:first-child:not(.search-bar){
				border-width: 0 1px 0 0;
			}
		}

		.has-date-menu-components,
		.has-menu-components{
			.components > li:first-child:not(.search-bar){
				border-width: 0 0 0 1px;
			}
		}
	}

	#top-nav.has-date-components .tie-alignleft .search-bar,
	#top-nav.has-date-components-menu .tie-alignleft .search-bar {
	    border-right-width: 0;
	    border-left-width: 1px;
	}

	#top-nav{
		&.has-breaking-news,
		&.has-date-menu,
		&.has-date-menu-components{
			.topbar-today-date{
				border-left-width: 0;
				border-right-width: 1px;
			}
		}

		&.has-date-components,
		&.has-date-components-menu{
			.search-bar{
				border-right-width: 0;
				border-left-width: 1px;
			}
		}

		&.has-breaking-menu,
		&.has-date-breaking-menu {
			.breaking {
				border-left-width: 0;
			}
		}
	}
}

// breaking news
.breaking{
	border-width: 0 0 0 1px;
}

.ticker-content,
.ticker-swipe{
	left: auto;
	right: 10px;
}

.ticker-wrapper.has-js{
	padding-left: 20px;
	padding-right: 0;
}

@include breakpoint(xs){
	.ticker-wrapper.has-js {
		padding-left: 20px;
		padding-right: 0;

		.controls-is-active &{
			padding-left: 70px;
			padding-right: 0;
		}
	}
}

.breaking-title{
	float: right;

	&:after {
		left: auto;
		right: 0;
		border-right: 0;
		border-left: 9px solid transparent;
	}
}

.breaking-news-nav{
	left: 0;
	right: auto;
	padding-right: 0;
	padding-left: 8px;

	li{
		float: right;
		margin: 6px 7px 6px 0;

		&.jnt-prev,
		&.jnt-next{
			transform: rotate(180deg);
			backface-visibility: hidden;
		}
	}
}

body:not(.dark-skin) .section-item:not(.has-background) .mag-box:not(.dark-skin),
body.dark-skin .section-item:not(.has-background) .mag-box.dark-skin{
	.breaking{
		border-width: 1px 0 1px 1px;
	}

	.breaking-news-nav li{
		margin: 5px 5px 5px 0;
	}
}

.mag-box {
	.breaking-news-nav{
		padding-left: 6px;
	}

	.breaking-title:before{
		border-top-left-radius: 0;
		border-top-right-radius: $base-border-radius;
	}
}

@include breakpoint(max_min_md){
	#theme-header #logo {
	    text-align: right;
	}

	#mobile-menu-icon{
		left: 15px;
		right: auto;
	}

	#mobile-menu {
		margin-left: -20px;
		margin-right: 0;

		.menu > li li {
			padding-left: 0;
			padding-right: 15px;
		}

		li a {
	    padding: 15px 0 15px 50px;
		}

		.mobile-arrows {
	    left: 0;
	    right: auto;
		}
	}
}

// header components

.grid-social-icons .comp-sub-menu.dropdown-social-icons li{
	float: right;
	border-width: 0 0 1px 1px;
}

/**
 * Sliders
 * ------------------------------------
 */
.slider-area .icon {
  left: 20px;
  right: auto;
}

.boxed-five-slides-slider .icon{
	left: 10px;
}

.slick-slide,
.fullwidth-slider-wrapper .slick-dots li,
.slider-nav li,
.wide-next-prev-slider-wrapper .slider-nav li:first-child,
.mag-box .mag-box-options .slider-arrow-nav li{
	float: right;
}

.thumb-overlay .thumb-content,
.wide-slider-three-slids-wrapper .thumb-overlay .thumb-content{
	padding-right: 0;
	padding-left: 20px;
}

.boxed-four-taller-slider .thumb-overlay .thumb-title{
	padding-left: 10px;
	padding-right: 0;
}

.main-slider .thumb-meta .meta-item{
	margin-left: 10px;
	margin-right: 0
}

// sliders navigation
.slider-nav li > span,
.wide-next-prev-slider-wrapper .slider-nav li > span,
.mag-box .mag-box-options .slider-arrow-nav a{
	transform: rotate(180deg);
	backface-visibility: hidden;
}

.slider-nav li:last-child,
.wide-next-prev-slider-wrapper .slider-nav li:last-child{
	float: left;
}

.boxed-slider-wrapper .slick-dots{
  width: auto;
  left: 30px;
  right: auto;
}

.slider-nav li:last-child > span {
	left: 0;
	right: auto;
}

.main-slider.grid-slider-wrapper,
.normal-side .tie-slider-widget .main-slider.boxed-five-slides-slider{
	@include breakpoint(md){
		.full-width & {
			.thumb-overlay{
				.thumb-content{
					padding-left: 20px;
					padding-right: 0;
				}
			}
		}
	}
}

.video-playlist-nav-wrapper{
	.playlist-title .playlist-title-icon{
		float: right;
		margin-right: 0;
		margin-left: 10px;
	}

	.playlist-title .videos-number,
	.video-playlist-item .video-play-icon,
	.video-playlist-item .video-paused-icon,
	.video-playlist-item .video-number,
	.video-playlist-item .video-thumbnail{
		float: right;
		text-align: right;
	}

	.video-playlist-item {
		.video-info{
			padding-left: 0;
			padding-right: 105px;
		}

		.video-duration{
			float: right;
		}
	}

	.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{
		left: 0;
		right: auto;
	}
}

/*Grid Sliders*/
.main-slider.grid-slider-wrapper {
	.slide{
		.grid-item{
			margin-right: 0;
			margin-left: 1px;
		}

		.grid-item:nth-child(1),
		.grid-item:nth-child(n + 2){
			float: right;
		}
	}

	@include breakpoint_max(670px){
		.thumb-content{
			padding-left: 10px;
		}
	}
}

.main-slider.grid-2-big .slide .grid-item:nth-child(2),
.main-slider.grid-3-slides .slide .grid-item:nth-child(n + 2),
.main-slider.grid-4-big-first-half-second .slide .grid-item:nth-child(2),
.main-slider.grid-4-big-first-half-second .slide .grid-item:nth-child(4),
.main-slider.grid-4-slides .slide .grid-item:nth-child(2),
.main-slider.grid-4-slides .slide .grid-item:nth-child(4),
.main-slider.grid-slider-wrapper.grid-5-first-big .slide .grid-item:nth-child(3),
.main-slider.grid-slider-wrapper.grid-5-first-big .slide .grid-item:nth-child(5),
.main-slider.grid-5-in-rows .slide .grid-item:nth-child(2),
.main-slider.grid-5-in-rows .slide .grid-item:nth-child(5),
.main-slider.grid-6-slides .slide .grid-item:nth-child(3),
.main-slider.grid-6-slides .slide .grid-item:nth-child(6){
	margin-left: 0;
}

.main-slider.grid-4-big-first-half-second .slide .grid-item:nth-child(3){
	margin-right: 0;
}

.main-slider.grid-4-slides .slide .grid-item:nth-child(3),
.main-slider.grid-6-slides .slide .grid-item:nth-child(4){
	clear: right;
}

.main-slider{
	&.grid-5-first-big,
	&.grid-5-big-centerd{
		.slide{
			.grid-item{
				&:nth-child(1),
				&:nth-child(3){
					margin-left: 0;
				}

				&:nth-child(4),
				&:nth-child(5){
					margin-left: 1px;
					margin-right: 0;
				}

				&:nth-child(5){
					margin-left: 0;
				}
			}
		}
	}
}

@include breakpoint(md){
	.full-width{
		.main-slider{
			&.grid-5-first-big,
			&.grid-5-big-centerd{
				.slide{
					.grid-item{
						&:nth-child(1){
							margin-left: 1px;
							margin-right: 0;
						}

						&:nth-child(3),
						&:nth-child(5){
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@include breakpoint_max(600px){
	.main-slider{
		&.grid-3-slides,
		&.grid-5-in-rows{
			.slide{
				.grid-item{
					&:first-child{
						margin-left: 0;
					}

					&:nth-child(2),
					&:nth-child(4){
						margin-left: 1px;
						margin-right: 0;
					}

					&:nth-child(3),
					&:nth-child(5){
						margin-left: 0;
					}
				}
			}
		}

		&.grid-slider-wrapper.grid-6-slides{
			.slide{
				.grid-item{
					&:nth-child(odd){
						margin-left: 1px;
						margin-right: 0;
					}

					&:nth-child(even){
						margin-left: 0;
					}
				}
			}
		}
	}
}

/**
 * Magazine Boxes
 * ------------------------------------
 */
.content-only{
	&.half-box > .container-wrapper{
		padding-right: 0 !important;
		padding-left: 15px !important;
	}

	&.second-half-box > .container-wrapper{
		padding-right: 15px !important;
		padding-left: 0 !important;
	}
}

.no-small-thumbs.post-item .post-details,
.no-small-thumbs.post-widget-body,
.no-small-thumbs.comment-body{
	padding-right: 0 !important;
}

.mag-box-title h3{
 	margin-right: 0;
 	margin-left: 40px;

	@include breakpoint(max_min_xs){
		margin-left: 20px;
	}
}

.mag-box .mag-box-options .block-more-button{
	margin-right: 10px;
	margin-left: 0;
}

.mag-box .mag-box-options .mag-box-filter-links {
	li{
		float: right;
	}

	.flexMenu-viewMore > a > span {
	    float: right;
	}

	.flexMenu-popup {
	  left: 0;
	  right: auto;
	  text-align: left;
	}
}

.mag-box .posts-items > li:first-child {
    float: right;
    margin-left: 4%;
    margin-right: 0;
}

.big-post-left-box .posts-items > li:first-child{
	float: right;
	margin-left: 0;
}

.mag-box .posts-items li:not(:first-child) .post-details{
	padding-left: 0;
	padding-right: 125px;
}

.big-posts-box .posts-items > li:nth-child(n) .post-details{
	padding-right: 0;
}

.mag-box .posts-items > li:not(:first-child) .post-thumb {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

// big thumb left box

.big-thumb-left-box .posts-items > li:first-child .post-content {
    padding-left: 20px;
    padding-right: 0;
}

// wide posts box

.wide-post-box .posts-items > li:nth-child(n) .post-thumb {
    float: right;
    margin-left: 25px;
    margin-right: 0;
}

.wide-post-box{
	.posts-items > li{
		&:nth-child(n) .post-details{
			padding-right: calc(50% + 25px);
			padding-left: 0;
		}

		@include breakpoint_min_max(880px, $screen-sm-max){
			&:nth-child(n) .post-details{
				padding-right: 415px;
				padding-left: 0;
			}
		}

		@include breakpoint_max(580px){
			&:nth-child(n) .post-details{
				padding-right: 0;
			}
		}
	}
}

@include breakpoint(md){
	.one-column-no-sidebar .wide-post-box .posts-items > li:nth-child(n) .post-details {
	    padding-right: 410px;
	    padding-left: 0;
	}
}

// big post top box
.big-post-top-box .posts-items > li{
	&:nth-child(2n){
		float: right;
		clear: right;
	}

	&:nth-child(2n + 1){
		float: left;
	}

	&:first-child{
		margin-left: 0;

		.post-thumb {
		    float: right;
		    margin-left: 4%;
		    margin-right: 0;
		}

		@include breakpoint_min(671px){
			.post-details{
				padding-right: 52%;
				padding-left: 0;
			}
		}
	}
}

//big posts box
.big-posts-box .posts-items{
	> li{
		float: right;
	}

	> li:nth-child(2n){
		float: left;
	}

	> li:nth-child(n) .post-thumb{
		margin-left: 0;
		float: none;
	}
}

// half box

.half-box.mag-box{
	padding-left: 15px;
	padding-right: 0;
	clear: left;

	&.second-half-box {
	    padding-right: 15px;
	    padding-left: 0;
	}
}

// gallery posts

.news-gallery-items li{
	float: right;
}

// fullwidth posts

.mag-box.full-width-img-news-box .posts-items > li:first-child{
	float: none;
}

// Overlay title Box
.mag-box.full-overlay-title{
	@include breakpoint_min(768px){
		.posts-items > li:not(.no-post-thumb){
			.block-post-overlay{
				.block-title-overlay{
					padding: 25px 0 0 25px;
				}
			}
		}

		&.media-overlay .icon{
			right: 15px;
			left: auto;
		}
	}
}

// miscellaneous box

.miscellaneous-box .posts-items > li {
	float: right;
	margin-left: 4.1208%;
	margin-right: 0;

	&:nth-child(3n + 1){
		margin-left: 0;
	}
}

@include breakpoint_max(670px){
	.miscellaneous-box .posts-items > li {
		margin-left: 4%;
		margin-right: 0;

		&:nth-child(3n + 1){
			margin-right: 0;
			margin-left: 4%;
		}

		&:nth-child(2n + 1){
			margin-left: 0;
		}
	}
}

// mini posts box
.mini-posts-box .posts-items > li{
	float: right;

	&:first-child .post-thumb{
		float: right;
		margin-right: 0;
		margin-left: 20px;
	}

	&:nth-child(2n){
		float: left;
	}

	@include breakpoint(max_min_xs){
		.post-details{
			padding-right: 0 !important;
		}
	}
}

// timeline box
.wide-post-box.timeline-box {
	.post-item-inner{
		margin-left: 0;
		margin-right: 50px;
	}

	.posts-items:before,
	.posts-items:last-of-type:after {
	    right: 29px;
	    left: 0;
	}

	.year-month {
	    float: right;
	    margin-right: 0;
	    margin-left: 10px;
	}

	.day-month {
	    padding-right: 50px;
	    padding-left: 0;

		&:before {
		    left: auto;
		    right: 23px;
		}
	}
}

.scroll-2-box.scrolling-box .slide .post-overlay .post-content{
	padding-right: 0;
	padding-left: 10px;
}

/**
 * Fullwidth Magazine boxes
 * ------------------------------------
 */

@include breakpoint_min(1100px){
	.full-width {
		.mag-box .posts-items > li {
			float: right;
			margin-right: 4%;
			margin-left: 0;

			&:first-child {
				margin-right: 0;
			}
		}

		.full-width-img-news-box .posts-items > li {
			margin-right: 0;
		}

		.big-post-left-box .posts-items > li:first-child{
			float: right;
		}

		.big-post-top-box .posts-items > li:nth-child(2n),
		.big-post-top-box .posts-items > li:nth-child(2n + 1){
			float: right;
		}

		.big-post-top-box .posts-items > li{
			margin-right: 0;
			margin-left: 4%;
		}

		.big-post-top-box .posts-items > li:first-child .post-details {
		    padding-right: 34.667%;
		    padding-left: 0;
		}

		.big-post-top-box:not(.top-news-box) .posts-items > li:nth-child(3n + 2){
			margin-left: 4%;
			margin-right: 0;
			clear: right;
		}

		.big-post-top-box .posts-items > li:nth-child(3n + 4){
			margin-left: 0;
			margin-right: 0;
		}

		.recent-news .posts-items > li{
			margin-right: 0;
		}

		.big-posts-box .posts-items > li{
			clear: left;

			&:nth-child(2n){
				float: right;
			}

			&:nth-child(3n + 4){
				margin-right: 0;
				clear: right;
			}
		}

		.wide-post-box .posts-items > li{
			margin-right: 0;

			.top-news-post-content{
				padding-left: 0;
			}
		}

		.mini-posts-box .posts-items > li{
			&:nth-child(n){
				float: right;
				margin-right: 0;
				margin-left: 4%
			}

			&:nth-child(2n){
				float: right;
			}

			&:nth-child(3n + 1){
				margin-left: 4%;
				clear: right;
			}

			&:nth-child(3n){
				margin-left: 0;
			}
		}

		.half-box .posts-items > li {
			margin-right: 0;
		}

		.miscellaneous-box .posts-items > li {
			float: right;
			margin-right: 0;
			margin-left: 2.7573%;

			&:nth-child(4n + 1){
				margin-left: 0;
			}

			&:nth-child(4n + 2){
				clear: right;
			}
		}
	}
}

@include breakpoint_min($screen-sm-max){
	.full-width{
		.wide-post-box .posts-items > li{
			.post-details{
				padding-right: 415px;
				padding-left: 0;
			}
		}
	}
}


/**
 * Magazine 2
 * ------------------------------------
 */

// .magazine2 {
// 	.main-content {
// 		.half-box:after {
// 			right: auto;
// 			left: 0;
// 		}

// 		.half-box.second-half-box:after {
// 			left: auto;
// 			right: -1px;
// 		}

// 		.half-box-top-big-post > .tie-row > [class^="tie-col"]:first-child {
// 			padding-left: 0;
// 			padding-right: 15px;
// 		}

// 		.half-box-top-big-post > .tie-row > [class^="tie-col"]:last-child {
// 			padding-right: 0;
// 			padding-left: 15px;
// 		}
// 	}

// 	.container-wrapper.tie-weather-widget {
// 		right: calc(-1px);
// 		left: auto;
// 	}
// }


/**
 * Single Post Elements
 * ------------------------------------
 */
.entry{
	table {
		td,
		th {
			text-align: right;
			border-left: 1px dotted $base-border-color;
			border-right: 0;
		}

		th:last-child,
		tr td:last-child {
	    border-left: 0;
	    border-right: 1px;
		}
	}

	ol,
	ul {
		padding-right: 15px;
		padding-left: 0;
		margin-right: 20px;
		margin-left: 0;
	}

	li ol,
	li ul {
		margin-right: 15px;
		margin-left: 0;
	}
}

blockquote.quote-light{
	border-left-width: 0;
	border-right-width: 3px;
}

.featured-area .single-caption-text {
  right: 0;
  left: auto;
}

#reading-position-indicator{
	right: 0;
	left: auto;
}

body:not(.centered-title-big-bg) .single-big-img.full-width-area #go-to-content {
	left: 15px;
	right: auto;
}

.single-big-img #go-to-content {
	right: auto;
	left: 30px;
}

.entry-content .post-tags .tags-title{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.entry-header .post-meta .meta-item{
	margin-right: 0;
	margin-left: 12px;
}

.entry-header .meta-author-avatar img{
	margin-right: 0;
	margin-left: 3px;
}

.entry-header .post-meta .tie-alignright .meta-item{
	margin-right: 0;
	margin-left: 15px;
}

.single-big-img .post-meta .tie-alignright{
	padding-left: 0;
	padding-right: 10px;
}

.meta-views > span{
	float: right;
	line-height: 20px;
	margin-left: 3px;
}

// posts nav
.prev-next-post-nav {
	.prev-post{
		padding-left: 15px;
		padding-right: 0;
		float: right;

		.icon:before{
			content: "\f105";
			letter-spacing: -5px;
		}
	}

	.next-post {
		padding-right: 15px;
		padding-left: 0;
		float: left;

		.icon:before{
			content: "\f104";
		    letter-spacing: 5px;
		}
	}
}

// share links
.post-footer .share-links {
	.share-title {
		padding-left: 5px;
		padding-right: 0;
		float: right;
	}

	a .fa{
		float: right;
	}

	a .social-text{
		border-right-width: 1px;
		border-left-width: 0;
		padding-right: 15px;
		padding-left: 25px;
	}

	&.icons-text .large-share-button .social-text{
		padding-left: 8px;
    	padding-right: 6px;
	}
}

// related posts
#related-posts .related-item{
	float: right;

	@include breakpoint(max_min_sm){
		&:nth-child(2n+1){
			clear: right !important;
		}
	}
}

// about author
.about-author .social-icons{
	li.social-icons-item {
		a span{
			margin-right: 0;
			margin-left: 12px;
		}

		&:last-child a span{
			margin-left: 0;
		}
	}
}

@include breakpoint_min($screen-xs-min-1){
	.about-author .author-avatar{
		float: right;
	}

	.about-author .author-info{
		padding-left: 0;
		padding-right: 20px;

		.social-icons{
			float: right;

			li{
				float: right;
			}
		}
	}
}

// comments
.comment-list{
	.comment-author img{
		float: right;
		margin-right: 0;
		margin-left: 20px;
	}

	.reply{
		margin-left: 0;
		margin-right: 90px;

		a{
			float: right;
		}
	}

	ol.children{
		margin-left: 0;
		margin-right: 75px;

		@include breakpoint_max(670px){
			margin-right: 25px;
		}

		@include breakpoint(max_min_xs){
			margin-right: 10px;
		}
	}

	li #respond{
		margin-right: 90px;
		margin-left: 0;
	}
}

.single-big-img .entry-header .entry-title{
	padding-right: 0;
	padding-left: 30px;
}

#check-also-close {
	right: auto;
	left: 0;
	text-align: left;
}

#story-highlights {
    float: right;
    clear: right;
    margin-left: 20px;
    margin-right: 0;
}


/**
 * Categories Layouts
 * ------------------------------------
 */

.has-sidebar .masonry-with-spaces #masonry-grid:not(.masonry-loaded) .post-element {
    margin-left: 4%;
    margin-right: 0;
    float: right;
}

/**
* Page Templates
* -------------------------------------
*/

.masonry-with-spaces{
	#masonry-grid{
		// Fix the pre-js load issue
		&:not(.masonry-loaded){
			.has-sidebar &{
				.post-element{
					margin-left: 4%;
					margin-right: 0;
					float: right;

					&:nth-child(2n+2){
						margin-right: 0;
						margin-left: 0;
					}
				}
			}

			.full-width &{
				.post-element{
					margin-left: 2%;
					margin-right: 0;
					float: right;
				}

				@include breakpoint(lg){
					.is-percent-width &{
						.post-element{
							&:nth-child(3n+3){
								margin-left: 2%;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

/**
 * Widgets
 * ------------------------------------
 */
.section-title.default-style,
.mag-box-title,
.widget-title,
#comments-title,
.comment-reply-title,
.woocommerce-tabs .panel h2,
.related.products h2:first-child,
.up-sells > h2,
.entry .cross-sells > h2,
.entry .cart_totals > h2,
#bbpress-forums #new-post > fieldset.bbp-form > legend,
.review-box-header{
	&:after {
		right: 0;
		left: auto;
	}

	&:before {
		right: 0;
		left: auto;
		border-left: 5px solid transparent;
		border-right: 0;
	}
}

.widget-title-icon {
	left: 0;
	right: auto;
}

.post-widget-body {
	padding-left: 0;
	padding-right: 125px;
}

.post-widget-thumbnail{
	float: right;
    margin-left: 15px;
    margin-right: 0;
}

// Login Widget

.login-widget .pass-container input[type="password"]{
	padding-left: 70px;
	padding-right: 10px;
}

.login-widget .forget-text{
	left: 10px;
	right: auto;
}

// Tabs Widget
.woocommerce-tabs ul.tabs,
.tabs-wrapper .tabs-menu{
	li a{
		border-width: 0 0 1px 1px;
	}
}

.tabs-box .tabs-widget .tabs-wrapper .tabs-menu .flexMenu-popup {
	left: 0;
	right: auto;
	border-right-width: 1px;
	border-left-width: 0;

	li a{
		text-align: left;
		padding: 10px 40px 10px 20px;
	}
}

// .magazine2 .tabs-box .tabs-widget .tabs-wrapper .tabs-menu {
//     right: 1px;
// }

.sidebar .tabs-container-wrapper .tabs-menu li,
.normal-side .tabs-container-wrapper .tabs-menu li,
.flickr-widget .flickr_badge_image{
	float: right;
}

.sidebar .tabs-container-wrapper .tabs-menu li:last-child a{
	border-left-width: 0;
}

// Recent Comments Widget

.authors-posts .post-widget-body,
.recent-comments-widget .comment-body,
.tab-content-comments .comment-body {
	padding-left: 0;
	padding-right: 80px;
}

// NewsLetter Widget

.subscribe-widget {
	.widget-title{
		text-align: right;
	}

	form:before{
		right: 12px;
		left: auto;
	}
}

// Categories Widgets
.widget_categories li.cat-item,
.widget_product_categories li.cat-item,
.widget_archive li,
.widget_layered_nav li.wc-layered-nav-term{
	a{
		float: right;
		white-space: nowrap;

		&:before{
			content: "\f104";
			margin-right: 0;
			margin-left: 10px;
			float: right;
		}
	}

	span{
		float: left;
	}
}

.widget_categories li.cat-item,
.widget_product_categories li.cat-item,
.widget_archive li,
.widget_layered_nav li.wc-layered-nav-term{
	text-align: left;
}

// Posts list Widget
.posts-list-bigs .posts-list-items li,
.posts-list-big-first .posts-list-items li:first-child,
	.posts-list-half-posts .posts-list-items li{
	.post-widget-thumbnail{
		margin-left: 0;
	}

	.post-widget-body{
		padding-right: 0;
	}
}

.posts-list-half-posts .posts-list-items li {
    float: right;

    &:nth-child(2n){
    	float: left;
    }
}

@include breakpoint(max_min_md){
	.posts-list-big-first .posts-list-items li,
	.posts-list-bigs .posts-list-items li{
	    float: right;

	    &:nth-child(2n){
	    	float: left;
	    }
	}

	.posts-list-big-first .posts-list-items{
		li{
			&:first-child{
				float: right;
				clear: left;
			}

			&:nth-child(n + 2){
				float: left;
			}
		}
	}
}


.timeline-widget{
	ul{
		padding-right: 15px;
		padding-left: 0;

		&:before{
			right: 0;
			left: auto;
		}

		li .date::before{
			right: -20px;
			left: auto;
		}
	}
}

.posts-list-counter .posts-list-items li:before{
	right: -15px;
	left: auto;
}

// Menu Widget

.widget_nav_menu{
	ul.children,
	ul.sub-menu {
		li {
			padding-right: 15px;
			padding-left: 0;
		}
	}
}

// Twitter Widget
.latest-tweets-widget {
	.tweetaya-body {
	    padding-left: 0;
	    padding-right: 30px;
	}

	.tweetaya-meta {
		text-align: left;
	}

	.twitter-icon-wrap{
		float: right;
	}

	.slider-links{
		float: left;

		.slider-nav li{
			float: left;
		}
	}

	.tie-slick-slider .twitter-icon-wrap{
		margin-right: 0;
		margin-left: 20px;
	}
}

.fullwidth-area .latest-tweets-widget {
	.slider-links{
		left: 20px;
		right: auto;
	}

	@include breakpoint(xs){
		.tie-slick-slider .tweetaya-body{
			padding-right: 60px;
			padding-left: 0;
		}
	}

	ul:not(.tie-slick-slider){
		.tweetaya-meta {
			text-align: right;
		}
	}
}


// Weather Widget

.weather-more-todays-stats {
    text-align: right;
    padding-right: 10px;
    padding-left: 0;
}

// Social Statistics Widget

.social-statistics-widget {
	ul li,
	a span.fa,
	a span[class^="arqicon-"],
	a span[class*=" arqicon-"]{
		float: right;
	}

	.followers {
	    float: right;
	    margin-right: 10px;
	    margin-left: 0;
	}

	.fullwidth-stats-icons li::before{
		left: auto;
		right: 50px;
	}

	.fullwidth-stats-icons .followers {
	    margin-right: 30px;
	    margin-left: 0;
	}

	.fullwidth-stats-icons .followers span {
	    float: right;
	    margin-left: 5px;
	    margin-right: 0;
	}

	.circle-three-cols .social-icons-item a span{
		&.fa,
		&[class^="arqicon-"],
		&[class*=" arqicon-"] {
			left: auto;
		    right: 50%;
		    margin-left: 0;
		    margin-right: -35px;
		}
	}

	.squared-four-cols li:nth-child(n) a{
		.fa,
		[class^="arqicon-"],
		[class*=" arqicon-"]{
		    left: auto;
		    margin-left: 0;
		    right: 50%;
		    margin-right: -27px;
		}
	}
}


// social icons widget
.social-icons-widget .social-icons-item{
	float: right;
}


// about widget
.aboutme-widget .about-author-img {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

/**
 * Side Aside (Hidden Sidebar)
 * ------------------------------------
 */
.side-aside {
	left: 0;
	top: 0;
	right: auto;
	direction: ltr;

	@include breakpoint(max_min_md){
		transform: translate3d(-100%, 0, 0);
	}

	.side-aside-wrapper{
		direction: rtl;
	}
}

.tie-parallax [id^="jarallax-container-"] > div,
.tie-parallax [id^="jarallax-container-"] > iframe{
	right: auto !important;
}


@include breakpoint(md){
	.side-aside {
		transform: translate3d(-350px, 0, 0)!important;
	}
}

.tie-btn-close.close-side-aside{
	left: auto;
	right: 30px;
}


/**
 * General elements
 * ------------------------------------
 */

.post-cat{
	margin-right: 0;
	margin-left: 4px;
	border-radius: $base-border-radius;
	border-bottom-right-radius: 0;

	&:after{
		border-right: 0;
		border-left: 4px solid transparent;
		right: 0;
		left: auto;
	}
}

.search-field{
	float: right;
}

.woocommerce-product-search input[type="submit"],
.search-submit[type="submit"] {
  float: left;
  margin-right: 2%;
  margin-left: 0;
}

.post-meta {
	.meta-item{
		margin-left: 8px;
		margin-right: 0;
	}

	@include breakpoint(max_min_sm){
		.entry-header &,
		.main-content &{
			> span,
			> div{
				float: right;
			}
		}
	}
}

.slider-arrow-nav {
  float: left;
  margin-left: 0;
  margin-right: 5px;

  a{
  	margin-left: 0;
  	margin-right: 5px;
  }
}

@include breakpoint(md){
	.header-layout-3 .stream-item-top{
		float: left;
	}
}

// Popup
.tie-btn-close{
	left: 40px;
	right: auto;
}

#tie-popup-search-wrap input[type="text"]{
	padding-right: 20px;
	padding-left: 80px;
}

#tie-popup-search-submit {
	left: 25px;
	right: auto;
}

// rating
.post-thumb .post-rating{
	left: 12px;
	right: auto;
}

.digital-rating{
	left: 10px;
	right: auto;
}

.post-meta .post-rating{
	float: right;
	margin-right: 0;
	margin-left: 8px;
}

.digital-rating-static {
    left: auto;
    right: 0;
    text-align: left;
}

// pages nav
.pages-nav {
	.next-prev,
	.pages-numbers {
		li {
			margin-right: 0;
			margin-left: 5px;
		}

		.first-last-pages {
			.fa {
				border-width: 0 1px 0 0;
				margin: 0 10px 0 0;
				text-align: left;

				&:before {
					content: "\f104";
				}
			}

			&.first-page .fa{
				float: right;
				border-width: 0 0 0 1px;
				margin: 0 0 0 10px;
				text-align: right;

				&:before {
					content: "\f105";
				}
			}
		}
	}

	.pages-numbers .first-last-pages .fa{
	  float: left;
	}

	.pages-standard{
		.first-page{
			float: right;
		}

		.last-page{
			float: left;
		}
	}

	.next-prev {
		li {
			float: left;

			a {
				margin-left: 0;
				margin-right: 10px;
			}
		}

		.fa {
			float: right;
			border-width: 0 0 0 1px;
			margin: 0 0 0 10px;
			text-align: right;
		}

		.next-page {
			.fa {
				float: left;
				border-left: 0;
				margin: 0 10px 0 0;
				border-width: 0 1px 0 0;
				text-align: left;
			}
		}
	}
}

// Alert Messages
.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
#buddypress #message,
.bbp-template-notice,
.indicator-hint,
.bbp-template-notice{
	padding: 10px 50px 10px 10px !important;

	&:before{
		right: 10px;
		left: auto;
	}

	a,
	a.button{
		float: left;
	}
}

#close-notice{
	left: 10px;
	right: auto;
}


/* Footer */
#go-to-top{
	right: auto;
	left: 25px;

	@include breakpoint_max($screen-sm){
		right: auto;
		left: 5px;
	}
}

@include breakpoint_min(670px){
	#site-info.site-info-layout-2 .copyright-text-second,
	#site-info.site-info-layout-2 ul.social-icons,
	#site-info.site-info-layout-2 .footer-menu {
	    float: left;
	    margin: 0;
	    margin-right: 10px;
	}

	#site-info.site-info-layout-2 .copyright-text-first{
		float: right;
	}
}


/* WPML */
.menu-item-language img.iclflag{
	margin-right: 0;
	margin-left: 4px;
}
